body {
    font-family: "Roboto Mono", monospace;
}

/* Font sizes and styles */

header, 
.intro,
footer {
    background-color: #1F2937;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.authorintro {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.desc {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    color: #F9FAF8;
    text-align: center;
    margin-top: 5px;
    width: 120px;
    padding: 5px;
}

/* sections */

header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    padding-left: 10%;
}

.nav {
    margin-left: auto; 
    margin-top: auto;
    padding-right: 10%;
}

ul {
    display: flex;
    gap: 30px; 
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
  .info,
  img {
    max-width: 200px;
  }
  
  img.avatar,
  .mainintro   {
    max-width: 500px;
  }

  .intro {
   display: flex;
   justify-content: center; 
   padding: 50px 0 80px;
   gap: 60px;
  }

