body {
    font-family: "Roboto Mono", monospace;
}

/* Font sizes and styles */

header, 
.intro,
footer {
    background-color: #1F2937;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* sections */

header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    padding-left: 10%;
}

.nav {
    margin-left: auto; 
    margin-top: auto;
    padding-right: 10%;
}

ul {
    display: flex;
    gap: 30px; 
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
