body {
    font-family: "Roboto Mono", monospace;
}

/* Font sizes and styles */

header, 
.intro,
footer {
    background-color: #1F2937;
}

header .logo {
    font-size: 1.5rem;
    color: #F9FAF8;
}

.authorintro {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
}

.desc, 
footer {
    font-size: 1.125rem;
    color: #E5E7EB; 
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: #F9FAF8;
    text-align: center;
    margin-top: 0.3125rem;
    width: 9vw;
    padding: 1%;
}

.title {
    font-size: 2.25rem;
    color: #1F2937;
    font-weight: 900;
}

.text {
    font-size: 1.125rem;
    color: #909093;
}

.quote {
    background-color: #E5E7EB;
    font-size: 2.25rem;
    font-style: light italic;
    color: #4B535F;
}

.quote figcaption {
    color: #1F2937;
    font: bold;
}

.signup {
  font-size: 1.25rem;
  font-weight: bold;
  color: #F9FAF8;
}

.call,
button.secondcall {
  font-size: 1.125rem;
  color: #F9FAF8;
}

/* sections */

header {
    display: flex;
    justify-content: flex-end;
}

.logo {
    padding-left: 7%;
}

.nav {
    margin-left: auto; 
    margin-top: auto;
    padding-right: 7%;
}

ul {
    display: flex;
    gap: 1.875rem; 
    list-style-type: none;
    font-size: 1.125rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
 
  img.avatar,
  .mainintro   {
    max-width: 40vw;
  }


  .intro {
   display: flex;
   justify-content: center; 
   padding: 3.125rem 0 5rem;
   gap: 3.75rem;
  }

  .title {
    display: flex;
    justify-content: center;
    padding: 3.125rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 3.25rem;
    margin-bottom: 6.25rem;
  }

  .info,
  .info img {
    max-width: 14.5vw;
  }

  .info img {
    border: 3px solid #3882F6;
    border-radius: 25px;
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.875rem 3.125rem 3.125rem;
  }

  figcaption {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
  }

  .newsletter {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    }

  .sign-box {
    background-color: #3882F6;
    margin: auto;
    border-radius: 5px;
    padding: 6.5% 16% 0 13%;
    display: flex;   
    flex-direction: column; 
    justify-items: center;
    font-size: 1.125rem;
    width: 59vw;
    height: 9.375rem;
  }

  .call {
    display: flex;
    gap: 2.5rem;  
    align-items: center;
  }

  button.secondcall {
    border: 2px solid #F9FAF8;  
    border-radius: 25px;
    text-align: center;
  }

  footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
  }