header {
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin-left: auto; 
}

ul {
    display: flex;
    gap: 30px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
